* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Phone View */
@media only screen and (max-width: 600px) {

    main {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        >nav {
            height: auto;
            width: 100%;
            gap: 10px;
            background-color: #DDE0E7;
            padding: 10px;
            display: flex;
            flex-direction: column;

            >#input_box {
                padding: 10px;
                /* background-color: #09223b; */
                border-radius: 10px;
                width: 100%;
                height: 40px;
                outline: none;
                border: none;

            }

            >#button {

                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 17px;

                >.btn {
                    align-items: center;
                    background-color: #0A66C2;
                    border: 0;
                    border-radius: 100px;
                    box-sizing: border-box;
                    color: #ffffff;
                    cursor: pointer;
                    display: inline-flex;
                    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;

                    justify-content: center;
                    line-height: 20px;
                    max-width: 480px;
                    min-height: 40px;
                    min-width: 0px;
                    overflow: hidden;
                    padding: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                    text-align: center;
                    touch-action: manipulation;
                    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
                    user-select: none;
                    -webkit-user-select: none;
                    vertical-align: middle;
                }

                >.btn:hover,
                .btn:focus {
                    background-color: #16437E;
                    color: #ffffff;
                }

                >.btn:active {
                    background: #09223b;
                    color: rgb(255, 255, 255, .7);
                }

                >.btn:disabled {
                    cursor: not-allowed;
                    background: rgba(0, 0, 0, .08);
                    color: rgba(0, 0, 0, .3);
                }

                >.btn {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                    padding: 5px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 17px;
                    height: 40px;
                    width: 120px;
                    /* background-color: #DDE0E7; */
                    border-radius: 10px;


                }
            }




        }



        >#mid {
            width: 100%;
            height: inherit;
            background-color: #fff;
            padding: 10px;
            overflow: scroll;
            background-color: #fff;

            >.info {
                border: #749cfb 2px solid;
                border-radius: 10px;
                padding: 10px;
                width: 100%;
                height: 50px;
                /* background-color: #DDE0E7; */
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 12px;


                >.task_text {
                    /* background-color: aquamarine; */
                    width: 70%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 2px;
                    font-weight: 600;
                    color: rgb(13, 13, 14);
                    overflow: hidden;
                    white-space: nowrap;

                }

                >.buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;



                    >.edit-button {
                        font-size: 18px;
                        outline: none;
                        border: none;
                        background-color: rgb(252, 252, 252);


                    }

                    >.delete-button {
                        font-size: 18px;
                        border: none;
                        background-color: white;
                        height: 20px;
                        width: 20px;

                    }
                }

            }





        }

        >#mid::-webkit-scrollbar {

            display: none;
        }


        >footer {
            padding: 10px;
            background-color: #DDE0E7;
            height: 150px;
            width: 100%;

            >#bottom_form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 10px;


                >#create_todo {
                    border-radius: 10px;
                    letter-spacing: .5px;
                    padding: 10px;
                    border: none;
                    height: 40px;
                    width: 100%;
                }

                >#submit {
                    align-items: center;
                    background-color: #0A66C2;
                    border: 0;
                    border-radius: 10px;
                    box-sizing: border-box;
                    color: #ffffff;
                    cursor: pointer;
                    display: inline-flex;
                    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    justify-content: center;
                    line-height: 20px;
                    width: 100%;
                    /* max-width: 480px; */
                    min-height: 40px;
                    min-width: 0px;
                    overflow: hidden;
                    padding: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                    text-align: center;
                    touch-action: manipulation;
                    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
                    user-select: none;
                    -webkit-user-select: none;
                    vertical-align: middle;
                }

                >#submit:hover {
                    background-color: #16437E;
                    color: #ffffff;
                }

                >#submit:focus {
                    background-color: #16437E;
                    color: #ffffff;
                }

                >#submit:active {
                    background: #09223b;
                    color: rgb(255, 255, 255, .7);
                }

                >#submit:disabled {
                    cursor: not-allowed;
                    background: rgba(0, 0, 0, .08);
                    color: rgba(0, 0, 0, .3);
                }

            }





        }


    }

}